@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

body {
    font-family: "Roboto";
    margin-left: 14rem;
    padding: 0;
    background-color: rgb(234, 238, 248);
    color: #333;
    position: relative;
}

.wrapper {
    min-height: 100vh;  
}

@media screen and (max-Width: 1000px) {
    body {margin-left: 0px;}
}