
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url(./fonts/Roboto-Regular.ttf) format('truetype');
}

body {
    font-family: "Roboto";
    margin-left: 14rem;
    padding: 0;
    position: relative;
    /* background-color: rgb(234, 238, 248);
    color: #333; */
}

p {
    font-size: 1rem;
}

@media screen and (max-width: 1000px) {
    body {
        margin-left: 0px;
    }
}
