@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");

body {
    font-family: "Roboto";
    margin-left: 14rem;
    padding: 0;
    position: relative;
    /* background-color: rgb(234, 238, 248);
    color: #333; */
}

.dark-mode {
    background-color: rgb(50, 50, 54);
    color: rgb(234, 238, 248);
    
    background: url(../assets/Ocean.svg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* unvisited link */
.dark-mode a {
    color: rgb(161, 177, 230);
    text-decoration: none;
}

/* mouse over link */
.dark-mode a:hover {
    color: rgb(180, 70, 129);
    text-decoration: none;
}

/* selected link */
.dark-mode a:active {
    color: rgb(120, 60, 131);
    text-decoration: none;
}

.light-mode {
    background-color: rgb(234, 238, 248);
    background: url(../assets/Ocean.svg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* unvisited link */
.light-mode a {
    color: rgb(58, 89, 189);
    text-decoration: none;
}

/* mouse over link */
.light-mode a:hover {
    color: rgb(207, 12, 116);
    text-decoration: none;
}

/* selected link */
.light-mode a:active {
    color: rgb(108, 37, 121);
    text-decoration: none;
}

.wrapper {
    min-height: 100vh;
}

@media screen and (max-width: 1000px) {
    body {
        margin-left: 0px;
    }
}
