.center {
    margin: 0 auto;
    display: block;
    padding: 20px;
    padding-top: 20vh;
    max-width: 800px;
}

@media screen and (max-width: 1000px) {
    .center {
        max-width: 100%;
    }
    .leaderboard {
        display: none;
    }
}
