@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

.page {
    margin: '2rem';
    margin-top: '5rem';
    font-family: "Roboto";
    font-weight: 500;
}

.row {
    max-width: 80vw;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: min(340px);    /* This is better for small screens, once min() is better supported */
    /* grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr)); */
    grid-gap: 0.0rem;
  }