@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");

.page {
    margin: "2rem";
    margin-top: "5rem";
    font-family: "Roboto";
    font-weight: 500;
}

.row {
    max-width: 100vw;
}

.rowdark {
    max-width: 100vw;
    background-color: rgb(40, 40, 40);
    color: rgb(230, 230, 230);
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: min(340px);
    grid-gap: 0rem;
}

.scattergrid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: min(340px);
    grid-gap: 1rem;
    margin: "1rem 2rem 1rem 0rem";
}

@media screen and (max-width: 1000px) {
    .grid {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: min(340px);
        grid-gap: 0rem;
    }
    .scattergrid {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: min(580px);
        grid-gap: 1rem;
    }
}
